.info-label {
  font-size: 12px;
  font-weight: bold;
}

.user-group-list-title {
  font-weight: bold;
  text-transform: uppercase;
  
  font-size: 14px;
  letter-spacing: 2px;
  color: #aaa;
  
  border-bottom: 1px solid #aaa;
}

.info-group-progress {
  display: inline-flex;
  width: 30px;
  height: 30px;
  
  font-size: 10px;
  padding: 0;
  
  align-items: center;
  align-content: center;
  justify-content: center;
  
  border: 1px solid #000;
  border-radius: 100%;
}

.user-group-list {
  list-style: none;
}

.info-group-name {
  padding: 0 16px;
  font-weight: bold;
  font-size: 14px;
}

.edit-label {
  display: none;
  font-weight: normal;
  font-size: 12px;
  cursor: pointer;
  color: #00f;
}

.show-label {
  display: inline;
}

.info-field input {
  border: none;
  background: transparent;
  font-size: 14px;
}

.user-picture {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  
  margin: 5px auto;
  margin-bottom: 1em;
  
  padding: 0;
  padding-top: 2%;
  
  width: 200px;
  height: 200px;
  
  background: #fff;
  border-radius: 100%;
  border: 1px solid #999;
  
  color: #eee;
  
  font-size: 72px;
  
  text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

.user-picture-student {
  background: #c9975a;
}

.user-picture-priviledged {
  background: #374283;
}

.user-picture-admin {
  background: #91877b;
}

.user-goback {
  padding: 8px;
  margin: 10px;
}

.user-list {
  margin: 1em 0;
}

.user-list .list-header {
  font-size: 14px;
  font-weight: bold;
}

.user-list .list-element:hover {
  background: #eee;
}

@media screen and (max-width: 450px) {
  .user-picture {
    width: 100px;
    height: 100px;
    font-size: 48px;
  }
}